body.bodystyle {
  text-align: center;
  
  background-size: cover;
  background-position: center;
  color: black;
  font-family: helvetica;
}
h1 {
  color: white;
  position: right;
}
a {
  color: white;
}
a:visited {
  color: white;
}
