body.bodystyle {
  text-align: center;
  background-image: url("Old-Course-at-St-Andrews-via-Links-Trust-no-credit-necessary-Resized-to-1910KB.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: helvetica;
}
h1 {
  color: white;
  position: right;
}
a {
  color: white;
}
a:visited {
  color: white;
}
