body.bodystyle {
  text-align: center;
  background-image: url("2015-12-07.08.35.02.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: helvetica;
}
h1 {
  color: white;
  position: right;
}
a {
  color: white;
}
a:visited {
  color: white;
}
